# Fichiers Maven
target/
.idea/
*.iml
*.log

# Fichiers spécifiques à IntelliJ IDEA (si utilisé)
*.ipr
*.iws

# Fichiers de configuration de l'éditeur
.vscode/

# Fichiers temporaires créés par l'OS
.DS_Store
Thumbs.db

# Dossier contenant les fichiers de build Docker
.docker/

# Fichiers liés aux outils de débogage et de génération
*.class
*.jar
*.war
*.ear

# Node.js (si applicable)
node_modules/
npm-debug.log
yarn-error.log

# Fichiers spécifiques à l'environnement local (ex : Spring Boot DevTools)
spring-boot-devtools

/cassandra/commitlog/
/cassandra/data/
/cassandra/saved_caches/
cassandra/hints/
